{{ define "main" }}
    <article class="list {{ .Params.listtype}}">
        {{ with .Content }}
            <section id="intro">
                {{ . }}
            </section>
        {{ end }}

        {{ $list := partial "getter/getList.html" . }}
        {{ with $list }}
            {{/* Fixed-ordered entries first, rest second */}}
            {{ $entries := slice }}
            {{ range .Params.order }}
                {{ $entries = $entries | append ($.Site.GetPage .) }}
            {{ end }}
            {{ $entries = $entries | append ( .Data.Pages | complement $entries ) }}

            {{ range $entries }}
                {{ partial "entry.html" . }}
            {{ end }}
        {{ end }}
    </article>
{{ end }}
